[Unit]
Descritpion=Home Monitor

[Service]
Type=simple
Restart=on-failure
ExecStart=home-monitor-rs -c /etc/home-monitor-rs/home-monitor-rs.json

[Install]
WantedBy=multi-user.target