{
    "network": {
        "interface": "eth0",
        "ping": {
            "interval": 6,
            "timeout": 2
        }
    },
    "api": {
        "files": {
            "root": "/etc/home-monitor/"
        },
        "web": {
            "ip": "127.0.0.1",
            "port": 8000
        }
    },
    "devices": {
        "server1": {
            "name": "Server 1",
            "mac": "aa:bb:cc:dd:ee:ff",
            "ip": "192.168.1.1",
            "timeout": 60,
            "username": "foo",
            "password": "bar"
        },
        "server2": {
            "name": "Server 2",
            "mac": "ff:ee:dd:bb:cc:aa",
            "ip": "192.168.1.129",
            "timeout": 60,
            "username": "admin",
            "password": "1234"
        },
        "mymachine": {
            "name": "My Machine",
            "ip": "192.168.1.2",
            "timeout": 300
        },
        "mywifesmachine": {
            "id": "mywifesmachine",
            "name": "My Wife's Machine",
            "ip": "192.168.1.130",
            "timeout": 300
        }
    },
    "dependencies": {
        "server1": [
            "mymachine"
        ],
        "server2": [
            "server1",
            "mywifesmachine"
        ]
    }
}