{
    "network": {
        "interface": "eth0",
        "ping": {
            "interval": 6,
            "timeout": 2
        }
    },
    "api": {
        "files": {
            "alwaysOff": "/etc/home-monitor/alwaysoff",
            "alwaysOn": "/etc/home-monitor/alwayson"
        },
        "web": {
            "ip": "127.0.0.1",
            "port": 8000
        }
    },
    "server": {
        "name": "My Server",
        "mac": "aa:bb:cc:dd:ee:ff",
        "ip": "192.168.1.255",
        "username": "foo",
        "password": "bar",
        "timeout": 60
    },
    "machines": [
        {
            "name": "My Machine",
            "ip": "192.168.1.254",
            "timeout": 300
        }
    ]
}